@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");


.p {
  position: relative;
  margin-top: 5%;
  }
  .comentariosDestacados {
    color: white;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    margin-top: -20%;
  }

  .barraC {
    background-color: #29ccba;
    justify-content: space-between;
  }

  /* Comentario 1 */
  .comentario1 {
    margin-left: 15%;
    margin-top: 2%;
  }

  /* Comentario 2 */
  .comentario2 {
    position: relative;
    top: -235px;
    margin-left: 42%;
    margin-top: -2.5%;
  }

  /* Comentario 3 */
  .comentario3 {
    position: relative;
    top: -470px;
    margin-left: 69%;
    margin-top: -2.5%;
  }

  .perfil1 {
    position: relative;
    top: 40px;
    width: 60px;
    border-radius: 50%;
    background-color: #f8646c;
  }

  .nombre1 {
    position: relative;
    color: black;
    top: -20px;
    margin-left: 6%;
    font-size: 25px;
  }

  .star1 {
    position: relative;
    top: -40px;
    margin-left: 5.5%;
    font-size: 25px;
    width: 150px;
  }

  .nombre2 {
    position: relative;
    color: black;
    top: -20px;
    margin-left: 9%;
    font-size: 25px;
  }

  .star2 {
    position: relative;
    top: -40px;
    margin-left: 8.5%;
    font-size: 25px;
    width: 150px;
  }

  .nombre3 {
    position: relative;
    color: black;
    top: -20px;
    margin-left: 18%;
    font-size: 25px;
  }

  .star3 {
    position: relative;
    top: -40px;
    margin-left: 17.5%;
    font-size: 25px;
    width: 150px;
  }

  .cajadecomentarios {
    position: relative;
    top: -30px;
    width: 400px;
    height: 100px;
    border: 1px solid rgba(63, 132, 124, 1);
    box-sizing: border-box;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 1)
      ),
      url(https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/xbko98jba5-607%3A1131?alt=media&token=7bb11a8e-7978-4f34-8612-34e7326bb064);
    border-radius: 10px;
  }

  .comentario {
    top: 10px;
    left: 10px;
    position: relative;
    color: rgb(80, 80, 80);
    font-size: 15px;
    line-height: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
  }

  /* Ordena Ya */
  .imagenOrdenaYa {
    margin-top: -20%;
    width: 100%;
  }

  .contornoOrdenaYa {
    position: relative;
    top: -150px;
    margin-left: 44%;
    width: 320px;
    height: 75px;
    padding: 17px 95px 34px;
    box-sizing: border-box;
    background: linear-gradient(
        0deg,
        rgba(248, 100, 108, 1),
        rgba(248, 100, 108, 1)
      ),
      url(https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/3hnpymujaue-607%3A1177?alt=media&token=41c362e5-e333-4a36-b1f0-5c0a1bb54cd4);
    border-radius: 20px;
  }

  .ordenaYa {
    
    position: relative;
    top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
  }


@media (max-width: 1500px) {

  
  .comentario1 {
    margin-left: 35%;
    margin-top: 2%;
  }

  .comentario3,
  .comentario2 {
    position: relative;
    margin-left: 35%;
    margin-top: 8%;
  }

  .comentario3 {
    position: relative;
    top: -220px;
  }

  .comentario2 {
    position: relative;
    top: -110px;
  }

  .nombre3,
  .nombre2,
  .nombre1 {
    position: relative;
    color: black;
    top: -20px;
    margin-left: 15%;
    font-size: 25px;
  }

  .star3,
  .star2,
  .star1 {
    position: relative;
    top: -40px;
    margin-left: 15%;
    font-size: 25px;
    width: 150px;
  }

  
  .contornoOrdenaYa {
    position: relative;
    top: -100px;
    margin-left: 40%;
    width: 320px;
    height: 75px;
    padding: 17px 95px 34px;
    box-sizing: border-box;
    background: linear-gradient(
        0deg,
        rgba(248, 100, 108, 1),
        rgba(248, 100, 108, 1)
      ),
      url(https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/3hnpymujaue-607%3A1177?alt=media&token=41c362e5-e333-4a36-b1f0-5c0a1bb54cd4);
    border-radius: 20px;
  }
}

@media (max-width: 900px) {

  .barraC {
    background-color: #29ccba;
    justify-content: space-between;
  }
  
  .p {
    position: relative;
    top: -700px;
    margin-top: 100%;
    }

    .comentario1 {
      margin-left: 35%;
      margin-top: 2%;
    }


    .comentario3 {
      position: relative;
      top: 10px;
    }

    .comentario2 {
      position: relative;
      top: 10px;
    }

    .nombre3,
    .nombre2,
    .nombre1 {
      position: relative;
      color: black;
      top: -20px;
      left: 50px;
      margin-left: 10%;
      font-size: 25px;
    }
    .star3,
    .star2,
    .star1 {
      position: relative;
      top: -40px;
      margin-left: 25%;
      font-size: 25px;
      width: 150px;
    }

  /* Ordena Ya */
  .imagenOrdenaYa {
    position: relative;
    top: 100px;
    margin-bottom: 60%;
    width: 840px;
  }

  .contornoOrdenaYa {
    position: relative;
    top: 50px;
    margin-left: 35%;
    width: 320px;
    height: 75px;
    padding: 17px 95px 34px;
    box-sizing: border-box;
    background: linear-gradient(
        0deg,
        rgba(248, 100, 108, 1),
        rgba(248, 100, 108, 1)
      ),
      url(https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/3hnpymujaue-607%3A1177?alt=media&token=41c362e5-e333-4a36-b1f0-5c0a1bb54cd4);
    border-radius: 20px;
    z-index: 1;
  }
}
