/* Nosotros */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.p {
  position: relative;
  top: -650px;
  }

  .SN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: justify;
    margin-right: 50%;
    margin-left: 10%;
    margin-top: 50%;
  }

  .descripcionSN {
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    line-height: 30px;
    font-family: Poppins, sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-right: 60%;
    margin-left: 10%;
    height: 250px;
  }

  .mision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    color: #f8646c;
    font-size: 30px;
    line-height: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-right: 55%;
    margin-left: 15%;
    margin-top: 10%;
    position: relative;
    top: -80px;
  }

  .descripcionMision {
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    line-height: 30px;
    font-family: Poppins, sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: 400;
    margin-right: 55%;
    margin-left: 15%;
    position: relative;
    top: -80px;
  }

  .vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    color: #f8646c;
    font-size: 30px;
    line-height: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-right: 20%;
    margin-left: 50%;
    margin-top: 5%;
    position: relative;
    top: -180px;

  }

  .descripcionvision {
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    line-height: 30px;
    font-family: Poppins, sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: 400;
    margin-right: 20%;
    margin-left: 50%;
    margin-top: -5%;
    position: relative;
    top: -80px;
  }

  .imagenMision {
    position: relative;
    top: -60px;
    width: 421px;
    height: 413px;
    margin-top: -15%;
    margin-left: 55%;
    top: -110px;
  }

  .imagenVision {
    position: relative;
    width: 440px;
    height: 413px;
    margin-top: 10%;
    margin-left: 20%;
    top: -600px;
  }

  .barra {
    background-color: #29ccba;
    justify-content: space-between;
  }

  .imagenSN {
    width: 350px;
    height: 350px;
    margin-top: -15.5%;
    margin-left: 60%;
  }
  .planta1 {
    width: 200px;
    height: 235px;
    margin-top: -5%;
  }

  .planta2 {
    width: 200px;
    height: 235px;
    transform: rotate(180deg);
    position: absolute;
    right: 0;
  }

@media (max-width: 1500px) {
  .p {
    position: relative;
    top: -300px;
    }

  .imagenMision {display: none;}
  .imagenVision {display: none;}

  .vision{
    margin-left: 20%;
    margin-top: 10%;
  }
  .descripcionvision{
    margin-left: 15%;
    margin-top: 10%;
    position: relative;
    top: -300px;
  }

  .mision{
    margin-left: 46%;
    margin-top: 10%;
  }

  .descripcionMision{
    margin-left: 15%;
    margin-right: 20%;
  }
  
  .planta2 {
    width: 200px;
    height: 235px;
    transform: rotate(180deg);
    position: absolute;
    right: 0;
  }

  .planta2 {display: none;}
}

@media (max-width: 900px) {
  .p {
    position: relative;
    top: -50px;
    }

    .barra {
      background-color: #29ccba;
      justify-content: space-between;
      width: 100%;
    }

    .barra {
        width: 100%;
        height: 400px;
    }
    
    .descripcionSN {
      margin-right: 10%;
      margin-left: 10%;
      height: 200px;
    }
    
    .imagenSN {
      width: 0px;
      height: 0px;
    }

    .mision {
      text-align: center;
      margin-left: 45%;
      margin-top: 10%;
      position: relative;
      top: -60px;
    }

    .descripcionMision {
      margin-right: 35%;
      margin-left: -15%;
      margin-top: 5%;
      position: relative;
      top: -60px;
      left: 180px;
    }

    .imagenMision {display: none;
    }

    .vision {
      margin-right: 35%;
      margin-left: 40%;
      margin-top: 5%;
      position: relative;
      top: 0px;
  
    }

    .descripcionvision {

      margin-left: -15%;
      margin-right: 35%;
      margin-top: -5%;
      position: relative;
      top: 80px;
      left: 180px;
    }

    .imagenVision {display: none;
    }

    .planta2 {
      position: absolute;
      right: 0%;
    }
}