.barraF {
  margin-top: -38%;
  background-color: #3f4e91;
  justify-content: space-between;
  width: 100%;
  height: 280px;
}

  .logoM {
    position: relative;
    top: 110px;
    width: 100px;
    height: 100px;
    margin-top: 0%;
    margin-left: 5%;
  }

  .contactoImg {
    position: relative;
    top: 50px;
    width: 60px;
    height: 60px;
    margin-top: -20%;
    margin-left: 15%;
  }

  .contactoTexto {
    position: relative;
    top: -10px;
    font-size: 20px;
    color: white;
    top: -60px;
    margin-top: 1.5%;
    margin-left: 20%;
    transform: translate(-0%, 150%);
  }

  .info {
    position: relative;
    top: 20px;
    width: 40px;
    height: 40px;
    margin-top: -20%;
    margin-left: 16%;
  }

  .contactos {
    font-size: 15px;
    color: white;
    top: -50px;
    margin-top: -2.5%;
    margin-left: 20%;
    height: 60px;
    transform: translate(-0%, 50%);
  }

  .tlf{
    position: relative;
    top: 70px;
    font-size: 15px;
    color: white;
    top: 80px;
    margin-top: -6%;
    margin-left: 20%;
    height: 20px;
    transform: translate(-0%, 330%);
  }

  .siguenos {
    justify-content: center;
    color: white;
    font-size: 20px;
    width: 200px;
    margin-left: 48%;
    margin-top: -5%;
    transform: translate(-35%, 100%);
  }

  .redesSociales {
    position: relative;
    top: 20px;
    margin-left: 24%;
    transform: scale(0.5);
  }

  .facebook,
  .twitter,
  .instagram,
  .linkedin {
    margin-right: 40px;
  }

  .copy {
    position: relative;
    color: white;
    font-size: 25px;
    margin-left: -1%;
    top: 100px;
  }

  .pin {
    position: relative;
    margin-top: -6%;
    margin-left: 63%;
    width: 60px;
    height: 60px;
    top: -50px;
  }

  .acercade {
    color: white;
    font-size: 20px;
    margin-left: 66%;
    margin-top: -6%;
    transform: translate(0%, 200%);
  }

  .creador {
    color: white;
    font-size: 15px;
    margin-left: 64%;
    margin-top: 3%;
  }

  .unimet {
    position: relative;
    margin-left: 85%;
    margin-top: -6%;
    top: 0px;
  }

  .line-1 {
    position: relative;
    width: 394px;
    height: 4px;
    border: 4px solid rgba(141, 128, 128, 1);
    top: 10px;
    margin-left: 15%;
  }

  .line-2 {
    position: relative;
    width: 394px;
    height: 4px;
    border: 4px solid rgba(141, 128, 128, 1);
    top: -0px;
    margin-left: 60%;
  }

  @media (max-width: 1500px) {
    .barraF{
      margin-top: -25%;
    }

    .unimet{
      margin-top: -20%;
      margin-left: 80%;
      position: relative;
      top: -10;
    }

    .tlf{
      position: relative;
      top: 90px;
      font-size: 15px;
      color: white;
      top: 80px;
      margin-top: -10%;
      margin-left: 20%;
      height: 20px;
      transform: translate(-0%, 330%);
    }

    .copy {
      position: relative;
      color: white;
      font-size: 25px;
      margin-left: -1%;
      top: 50px;
    }

    
    }
  @media (max-width: 900px) {



    .barraF {
      margin-top: -50%;
      width: 1000px;
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
    }


    .contactoImg {
      margin-left: 20%;
    }

    .contactoTexto {
      transform: translate(10%, 150%);
    }
    
    .info {
      position: relative;
      top: 30px;
      margin-left: 22%;
    }

    .contactos {
      transform: translate(10%, 10%);
    }
  
    .tlf{
      transform: translate(10%, -300%);
    }

    .siguenos {
      visibility: hidden;
    }

    .facebook,
    .twitter,
    .instagram,
    .linkedin {
      visibility: hidden;
    }

    .acercade {
      margin-left: 75%;
      margin-top: -20%;
      transform: translate(0%, 60%);
    }
  
    .creador {
      margin-left: 71%;
      margin-top: 2%;
    }

    .pin {
      visibility: hidden;
    }

    .line-1 {display: none;
    }
  
    .line-2 {display: none;
    }

    .unimet {
      position: relative;
      margin-left: 70%;
      margin-top: -15%;
      top: -3px;
    }

    .copy {display: none;

    }


  }